* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #6a11cb, #cfabf8);
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 25px;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 25px;
}

.form-container h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 220px;
}

button {
  padding: 12px 18px;
  border: none;
  background-color: #4a1463;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  opacity: 0.9;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #d16bf3;
  color: white;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.delete-btn {
  background: crimson;
}

.empty-message {
  text-align: center;
  font-size: 18px;
  color: gray;
  margin-top: 20px;
}